#pic-1{
    width:350px;
    height:250px;
}
#pic-2{
    background-color: aqua;
    width:450px;
    height:350px;
}
h1{
    text-align: center;
    background-color: rgb(24, 161, 185);
}

p{
    text-align:left;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'
}
#pic-3{
    width: 200px;
    height: 200px;
    border-radius:100%;
}
#pic-4{
    width:40px;
    height:40px;
}
#pic-5{
    width:40px;
    height:40px;
}
#pic-6{
    width:40px;
    height:40px;
}
#pic-7{
    width:40px;
    height:40px;
}
.header{
    min-height:100vh;
    width:100%;
    background-image:url(images/washington.png),linear-gradient(rgba(51, 170, 110, 0.7),rgba(9, 28, 105, 0.7));
    margin:0%;
    background-position:center;
    background-size:cover;
    position: relative;
}
#ABOUT, #CONTACT ME{
    margin-top: 20PX;
}
